.passage {
  height: 100%;
  flex: 5;
  margin: 4px 12px 12px 12px;
}

.contentContainer {
  display: flex;
  height: 100%;
}

.contentMarked {
  overflow: auto;

  /* readingContent */
  font-size: 20px;
  line-height: 1.8333333333333333em;

  /* h1 */
  h1 {
    margin-top: 0em;
    margin-bottom: 1.085em;
    padding-top: 0em;
    padding-bottom: 1.085em;
    letter-spacing: .2em;
    font-size: 1.875em;
  }

  /* h2 */
  h2 {
    margin-top: 0em;
    margin-bottom: 0.745em;
    padding-top: 0em;
    padding-bottom: 0.745em;
    letter-spacing: .1em;
    font-size: 1.25em;
  }

  /* h3 */
  h3 {
    margin-top: 0em;
    margin-bottom: 0.745em;
    padding-top: 0em;
    padding-bottom: 0.745em;
    letter-spacing: .1em;
    font-size: 1em;
  }

  /* article */
  article {
    margin-top: 0;
    margin-bottom: 5.06em;
    padding-top: 0;
    padding-bottom: 5.06em;
  }

  /* p */
  p {
    margin-top: 0;
    margin-bottom: 0.8983333333333333em;
    padding-top: 0;
    padding-bottom: 0.8983333333333333em;
    letter-spacing: .08em;
  }
}
